<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/images/doctor-medical-mk-logo-A197A7A78F-seeklogo.com.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'assets/images/doctor-medical-mk-logo-A197A7A78F-seeklogo.com.png' %}" />
    <!--Semantic UI requirement-->
    <link rel="stylesheet" href="{% static 'production/semantic.min.css' %}"/>
    {% block head %}
    {% comment %} Override head section in subsequent template files {% endcomment %}
    {% endblock head %}
    {% block title %}
        <title>AHMS (Advanced Hospital Management System)</title>
    {% endblock title %}
</head>
<body>
    {% block body %}
    
    {% endblock body %}
    {% block scripts %}
    {% comment %} Add custom third party libraries here {% endcomment %}
    {% endblock scripts %}
    
    <!--Semantic UI requirements-->
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'production/semantic.min.js' %}"></script>
</body>
</html>