<div class="ui container">
    <div class="ui secondary pointing menu">
        <a class="item active">Home</a>
        <a class="item">About</a>
        <a class="item">Services</a>
        <a class="item">Gallery</a>
        <a class="item">Blog</a>
        <a class="item">Contact Us</a>
        <!--search and social links-->
        <div class="right menu">
            <a href="#" class="item">
                <i class="facebook square icon large blue"></i>
            </a>
            <a href="#" class="item">
                <i class="twitter icon large blue"></i>
            </a>
            <a href="#" class="item">
                <i class="google icon large red"></i>
            </a>
            <a href="#" class="item">
                <i class="linkedin icon large blue"></i>
            </a>
        </div>
    </div>
</div>